<main class="main_container">
  <section class="header_title">
    <h1>Add Some Stuff</h1>
  </section>
  <section class="main_button_container">
    <app-add-band (bandCreated)=onBandCreated($event)></app-add-band>
    <app-add-movie (movieCreated)=onMovieCreated($event)></app-add-movie>
    <app-add-car (carCreated)=onCarCreated($event)></app-add-car>
  </section>
  <hr>
  <section class="display_elements">
    <app-display-element
      *ngFor="let element of elements"
      [singleElement] = element
    >{{ element }}</app-display-element>
  </section>
</main>
